{
  "rules": {
    "users": {
      ".read": "auth != null",
      "$uid": {
        ".write": "auth != null && auth.uid === $uid"
      }
    },
    "friend_requests": {
      ".read": "auth != null",
      "$toUid": {
        "$fromUid": {
          ".write": "auth != null && (auth.uid === $fromUid || auth.uid === $toUid)"
        }
      }
    },
    "friends": {
      ".read": "auth != null",
      "$uid": {
        ".write": "auth != null && auth.uid === $uid"
      }
    },
    "chats": {
      ".read": "auth != null",
      "$chatId": {
        ".write": "auth != null && $chatId.contains(auth.uid)"
      }
    },
    "calls": {
      ".read": "auth != null",
      "$uid": {
        ".write": "auth != null"
      }
    },
    "call_history": {
      "$uid": {
        ".read": "auth != null && auth.uid === $uid",
        ".write": "auth != null && auth.uid === $uid"
      }
    }
  }
}
